// Landing page styles

.td-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark-blue-primary;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .td-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $dark-blue-primary;
  }

  .td-box--primary {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue-secondary;
  }

  .td-cover-block {
    background-color: $dark-blue-primary;
  }

  .td-cover-block-0 {
    min-height: 70vh;
    flex: 0 0 70%;
  }

  .td-navbar {
    background-color: $dark-blue-primary;
  }

  .td-arrow-down svg,
  .td-arrow-down::before,
  .td-arrow-down::after {
    display: none;
  }

  footer {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin-top: auto;
    flex-shrink: 0;
    background-color: $dark-blue-accent;

    .container-fluid {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }

    .bg-dark {
      background-color: $dark-blue-accent;
    }

    .bg-secondary {
      background-color: $dark-blue-primary;
    }
  }
}
